<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<div class="container">
<div class="row">
<div class="col-8">
<div class="p-3 mb-2 bg-warning text-dark"><p><h1>TCA</h1></p>
<b>Tsoha Chat App</b></div>


{% if session.username %}
<p>Logged in as {{ session.username }}</p>

<form action="/logout" method="POST">
<p><input type="submit" value="log out"></p>
</form>

<a href="/new">Start a new conversation<a>

{% else %}

<a href="/login">Login<a> to post and comment.
{% endif %}
<h2>Discussions</h2>

{% for message in messages %}
<div class="p-3 mb-2 bg-light text-dark">
<a href="/message/{{ message[0] }}">{{ message[2] }}<a>
</div>
{% endfor %}
</div>
</div>
</div>