<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<div class="container">
<div class="row">
<div class="col-8">
<div class="p-3 mb-2 bg-warning text-dark"><p><a href="/" style="color: #000000; text-decoration: none;"><h1>TCA</h1></a></p>
<b>Tsoha Chat App</b></div>
{% if session.username == name %}
<h1>Your profile</h1>
<p></p>
Users blocked:
{% for blocked in list %}
<p>{{ blocked[2] }} <a href="/profiles/{{ session.username }}/unblock/{{ blocked[0] }}">Unblock<a></p>
{% endfor %}
{% else %}
<h1>{{ name }}</h1>
{% endif %}
{% if session.username %}
{% if session.username != name %}
<form action="/profiles/{{ name }}" method="POST">
<p><input type="submit" value="Block user"></p>
</form>
{% endif %}
{% endif %}

<p></p>
<p>{{ count }} messages posted</p>

</div>
</div>
</div>