<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<div class="container">
<div class="row">
<div class="col-8">
<div class="p-3 mb-2 bg-warning text-dark"><p><h1>TCA</h1></p>
<b>Tsoha Chat App</b></div>

<form action="/register" method="POST">
<p>Username: <input type="text" name="username"></p>
<p>Password: <input type="password" name="password"></p>
<p>Create your account: <input type="submit" value="register"></p>
</form>

</div>
</div>
</div>