<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<div class="container">
<div class="row">
<div class="col-8">
<div class="p-3 mb-2 bg-warning text-dark"><p><a href="/" style="color: #000000; text-decoration: none;"><h1>TCA</h1></a></p>
<b>Tsoha Chat App</b></div>

<h3>Message tags</h3>

{% for tag in tags %}
<div class="p-3 mb-2 bg-light text-dark">
<p>
<a href="/tags/{{ tag[0] }}">{{ tag[0] }}<a>
</p>
</div>
{% endfor %}

