body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.header {
    background: yellow;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
}
